{% extends "block_templates/base.html" %}

{% block title %}
    {{ object.title }}
{% endblock %}

{% block page_title %}
    {{ object.title }}
{% endblock %}

{% block breadcrump %}
    <ul>
        <li class="section_breadcrumb"><a href="/">Главная</a></li>
        <li class="section_breadcrumb"><a href="{% url 'list_note' %}">Статьи</a></li>
        <li class=""><span>{{ object.title }}</span></li>
    </ul>
{% endblock %}

{% block content %}

    <div class="detail_page">
        <div class="author">{{ object.author_id }}</div>
        <div class="detail_image flex"><img class="" src="{{ object.image.url }}" alt=""></div>
        <div class="detail_body">{{ object.body }}</div>

    </div>

{% endblock %}